<div class="aside">
  <ul class="menu-list">
    <li routerLink="/">
      <img src="../../../assets/images/icons/vergadores.svg" alt="" />
      <p>Home</p>
    </li>
    <li routerLink="/visualizador">
      <img src="../../../assets/images/icons/team.svg" alt="" />
      <p>Escuadrón</p>
    </li>
    <li routerLink="/editor">
      <img src="../../../assets/images/icons/super-hero.svg" alt="" />
      <p>Editor</p>
    </li>
    <li routerLink="/simulador">
      <img src="../../../assets/images/icons/fight.svg" alt="" />
      <p>Simulador</p>
    </li>
  </ul>
</div>
