.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  height: 100vh;
  width: 15vw;
  border: solid black 1px;
}

.router {
  height: 100vh;
  width: 85vw;
  border: solid black 1px;
}
/*# sourceMappingURL=app.component.css.map */