.visualizador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(https://i.imgur.com/NCvsHHG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.title{
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(254, 197, 90);
  margin-bottom: 100px;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-doc {
  background-image: url(https://i.imgur.com/WPJ0XGN.jpg);
  background-size: cover;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 30px 30px;
  border-radius: 20px 0px;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(254, 197, 90);
  box-shadow: 5px 10px 8px #000000;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-height: 150px;
    -webkit-filter: drop-shadow(3px 3px 3px white);
    filter: drop-shadow(3px 3px 3px white);
    margin: 10px 0px 30px 0px;
  }
  p {
    margin-top: 10px;
    font-size: 10px;
    justify-content: center;
    text-align: center;
  }
}

.button {
  appearance: none;
  background-color: rgb(254, 197, 90);
  border-radius: 40em;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin-top: 10px;
  outline: none;
  padding: 0,75rem 1.0rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #000000;
  transform: scale(1.1);
  color: rgb(254, 197, 90);
}

.button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button {
    font-size: 0.9rem;
    padding: 0.2rem 0.8rem;
  }
}
